<section class="login-page">
    <h1 class="login-page__title">Forum</h1>
    <div class="site-logo">
        <a href="https://realprogress.pl/"><img class="site-logo__img" src="assets/real-progress-logo.svg" alt="Real Progress"></a>
    </div>

        <form class="login-page__form" action="/redirect">
            <mat-form-field>
                <mat-label></mat-label>
                <input class="login-page__field" matInput type="email" placeholder="Twój email:">
            </mat-form-field>

            <mat-form-field>
                <mat-label></mat-label>
            <input class="login-page__field" matInput type="password" placeholder="Twoje hasło">
            </mat-form-field>

            <!-- <label class="login-page__label">Email:</label>ss

            <label class="login-page__label">Hasło:</label> -->

            <div class="login-page__btn-container">
                <button class="primary-btn">Login</button>
                <button class="primary-btn primary-btn--red">Rejestracja</button>
                <button class="primary-btn">Przywróć hasło</button>
            </div>
        </form>

</section>

